.hero {
  height: 80vh;
  background: linear-gradient(to bottom, #000000, #111111);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-logo {
  width: 120px;
  margin-bottom: 20px;
}

.hero h1 {
  color: #ccc;
  font-size: 40px;
  font-weight: 700;
}
